@model IEnumerable<WareHouseManger.Models.EF.Shop_Goods_Category_Child>

@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryParent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryParent.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryChildID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryChildID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryChildID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
