@model WareHouseManger.Models.EF.Shop_Goods_Receipt

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h1>Chi tiết</h1>
            <div>
                <button data-target="/Report/Shop_Goods_Receipt/@Model.GoodsReceiptID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm btn-export"><i class="fas fa-download fa-sm text-white-50"></i> Xuất phiếu nhập</button>
            </div>
        </div>
        <h4>Phiếu nhập - @Model.GoodsReceiptID</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="DateCreated" class="control-label font-weight-bold">Ngày lập</label>
                <input type="text" class="form-control bg-white" value="@Model.DateCreated.Value.ToString("dd/MM/yyyy")" readonly />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="SupplierID" class="control-label font-weight-bold">Nhà cung cấp</label>
                <input type="text" class="form-control" value="@Model.Supplier.Name" readonly />
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="EmployeeID" class="control-label font-weight-bold">Khách hàng</label>
                <input type="text" class="form-control" value="@Model.Employee.Name" readonly />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Remark" class="control-label font-weight-bold">Ghi chú</label>
            <textarea type="text" class="form-control" rows="5" readonly></textarea>
            <span asp-validation-for="Remark" class="text-danger"></span>
        </div>
        <div class="card">
            <div class="card-body">
                <h2>Danh sách chi tiết hàng hóa</h2>
                <div class="table-responsive">
                    <table id="tb-shopgoods" class="table table-bordered table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng hóa</th>
                                <th>Loại hàng hóa</th>
                                <th>Nhà sản xuất</th>
                                <th>Đơn vị tính</th>
                                <th class="text-right">Số lượng</th>
                                <th class="text-right">Đơn giá</th>
                                <th class="text-right">Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<WareHouseManger.Models.EF.Shop_Goods_Receipt_Detail> shop_Goods_Receipt_Details = Model.Shop_Goods_Receipt_Details.ToList();

                                foreach (WareHouseManger.Models.EF.Shop_Goods_Receipt_Detail item in shop_Goods_Receipt_Details)
                                {
                                    <tr>
                                        <td>@item.TemplateID</td>
                                        <td>@item.Template.Name</td>
                                        <td>@item.Template.SubCategory.SubCategoriName</td>
                                        <td>@item.Template.Producer.Name</td>
                                        <td>@item.Template.Unit.Name</td>
                                        <td class="text-right">@{ var count = string.Format("{0:N}", item.Count).Replace(".00", ""); }@count</td>
                                        <td class="text-right">@{ var unitPrice = string.Format("{0:N}", item.UnitPrice).Replace(".00", ""); }@unitPrice</td>
                                        <td class="text-right">@{ var total = string.Format("{0:N}", ((decimal)item.Count * item.UnitPrice)).Replace(".00", "");}@total</td>
                                    </tr>
                                }
                                <tr>
                                    <th colspan="8" class="text-right"><span class="font-weight-bold">Tổng tiền: @{var totals = string.Format("{0:N}", shop_Goods_Receipt_Details.Select(t => (decimal)t.Count * t.UnitPrice).Sum()).Replace(".00", "");} @totals</span></th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer mt-3 text-right">
            <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
}

@section css{
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" />
}