@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<WareHouseManger.Models.EF.Shop_Goods_Receipt>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow">
    <div class="card-body">
        <h1>Phiếu nhập hàng</h1>
        <div>
            <a class="btn btn-sm btn-success float-left" asp-action="Create"><i class="fa fa-plus-circle"> Thêm mới</i></a>
            <div class="form-inline float-right mb-3">
                <form method="get" asp-action="Index">
                    <input id="keyword" name="keyword" class="form-control" placeholder="Nhập từ khóa cần tìm" value="@ViewBag.Keyword" />
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"> Tìm kiếm</i></button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Số PN
                        </th>
                        <th class="text-center">
                            Ngày lập
                        </th>
                        <th>
                            Tên nhà cung cấp
                        </th>
                        <th>
                            Nhân viên nhận
                        </th>
                        <th class="text-right">
                            Tổng tiền
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.GoodsReceiptID
                            </td>
                            <td class="text-center">
                                @item.DateCreated.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.Name)
                            </td>
                            <td class="text-right">
                                @string.Format("{0:N}", item.Total).Replace(".00", "")
                            </td>
                            <td class="text-nowrap text-center" width="150px">
                                @*<a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.GoodsReceiptID"> <i class="fa fa-edit"> Chỉnh sửa</i></a>*@
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.GoodsReceiptID"><i class="fa fa-file"> Chi tiết</i></a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.GoodsReceiptID"><i class="fa fa-trash-o"> Xóa</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, keyword = ViewBag.Keyword }),
                    new X.PagedList.Web.Common.PagedListRenderOptions
                         {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                         })
            </div>
        </div>
    </div>
</div>
@section scripts{

}
