@model List<WareHouseManger.Models.EF.Shop_Goods_Receipt>

@{
    ViewData["Title"] = "Details";

    var list0 = Model.Where(t => t.Total <= t.FinalSettlement_Supliers.Select(t => t.Payment).Sum()).ToList();

    var list1 = Model.Where(t => !list0.Contains(t)).ToList();

    var supplier = ViewBag.Supplier as WareHouseManger.Models.EF.Supplier;
}
<div class="card shadow">
    <div class="card-body">
        <h1>Chi tiết quyết toán</h1>
        <div class="card shadow">
            <div class="card-body">
                <h4>Thông tin nhà cung cấp</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="@supplier.SupplierID" hidden />
                <div class="form-group">
                    <label asp-for="@supplier.Name" class="control-label">Tên nhà cung cấp</label>
                    <input asp-for="@supplier.Name" class="form-control" readonly />
                    <span asp-validation-for="@supplier.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@supplier.PhoneNumber" class="control-label">Số điện thoại</label>
                    <input asp-for="@supplier.PhoneNumber" class="form-control" readonly />
                    <span asp-validation-for="@supplier.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@supplier.Address" class="control-label">Địa chỉ</label>
                    <input asp-for="@supplier.Address" class="form-control" readonly />
                    <span asp-validation-for="@supplier.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@supplier.EMail" class="control-label"></label>
                    <input asp-for="@supplier.EMail" class="form-control" readonly />
                    <span asp-validation-for="@supplier.EMail" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3>Danh sách hóa đơn chưa quyết toán xong</h3>
                <div class="table-responsive shadow">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Số hóa đơn</th>
                                <th>Ngày lập</th>
                                <th>Nhân viên lập</th>
                                <th class="text-right">Tổng tiền (VNĐ)</th>
                                <th class="text-right">Đã thanh toán (VNĐ)</th>
                                <th class="text-right">Còn lại (VNĐ)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (list1.Count > 0)
                            {
                                foreach (var info in list1)
                                {
                                    <tr>
                                        <td>@info.GoodsReceiptID</td>
                                        <td>@info.DateCreated.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@info.Employee.Name</td>
                                        <td class="text-right">@{ var total0 = string.Format("{0:N}", info.Total).Replace(".00","");}@total0</td>
                                        <td class="text-right">@{ var total1 = string.Format("{0:N}", info.FinalSettlement_Supliers.Select(t => t.Payment).Sum()).Replace(".00", "");}@total1</td>
                                        <td class="text-right">@{ var total2 = string.Format("{0:N}", info.Total - info.FinalSettlement_Supliers.Select(t => t.Payment).Sum()).Replace(".00", "");}@total2</td>
                                        <td class="text-nowrap" style="width:1px;"><button class="btn btn-sm btn-info details">Chi tiết</button></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="font-italic">Không tìm thấy kết quả nào cả!!!</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="card mt-3">
                <div class="card-body">
                    <h3>Danh sách hóa đơn đã quyết toán</h3>
                    <div class="table-responsive shadow">
                        <table class="table table-sm table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Số hóa đơn</th>
                                    <th>Ngày lập</th>
                                    <th>Nhân viên lập</th>
                                    <th class="text-right">Tổng tiền (VNĐ)</th>
                                    <th class="text-right">Đã thanh toán (VNĐ)</th>
                                    <th class="text-right">Còn lại (VNĐ)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (list0.Count > 0)
                                {
                                    foreach (var info in list0)
                                    {
                                        <tr>
                                            <td>@info.GoodsReceiptID</td>
                                            <td>@info.DateCreated.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@info.Employee.Name</td>
                                            <td class="text-right">@{ var total0 = string.Format("{0:N}", info.Total);}@total0</td>
                                            <td class="text-right">@{ var total1 = string.Format("{0:N}", info.FinalSettlement_Supliers.Select(t => t.Payment).Sum());}@total1</td>
                                            <td class="text-right">@{ var total2 = string.Format("{0:N}", info.Total - info.FinalSettlement_Supliers.Select(t => t.Payment).Sum());}@total2</td>
                                            <td class="text-nowrap" style="width:1px;"><button class="btn btn-sm btn-info details">Chi tiết</button></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="font-italic">Không tìm thấy kết quả nào cả!!!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-addFinalSettlement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thêm quyết toán</h4>
            </div>
            <div class="modal-body">
                <div class="row mb-0">
                    <div class="form-group col-6">
                        <div class="form-group ">
                            <label class="font-weight-bold">Số hóa đơn:</label>
                            <input id="id" class="form-control" readonly />
                        </div>
                        <div class="form-group ">
                            <label class="font-weight-bold">Ngày quyết toán:</label>
                            <input id="date-created" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Ghi chú</label>
                            <textarea id="remark" class="form-control" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-group ">
                            <label class="font-weight-bold">Số tiền cần thanh toán:</label>
                            <input id="remain" class="form-control text-right" readonly />
                        </div>
                        <div class="form-group ">
                            <label class="font-weight-bold">Số tiền thanh toán:</label>
                            <input id="num0" class="form-control text-right num" />
                        </div>
                        <div class="form-group ">
                            <label class="font-weight-bold">Còn lại:</label>
                            <input id="num1" class="form-control text-right num" />
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button id="btn-acceptFinalSettlement" type="button" class="btn btn-primary">Quyết toán</button>
                </div>
                <div>
                    <table id="tb-history-finalsettlement" class="table table-bordered table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Ngày quyết toán</th>
                                <th class="text-right">Số tiền quyết toán (VNĐ)</th>
                                <th class="text-right">Còn lại (VNĐ)</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
            </div>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script src="~/js/fomatnumber.js"></script>
    <script src="~/js/FinalSettlement_Suplier/details.js"></script>
}