@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<WareHouseManger.Models.EF.Supplier>

@{
    ViewData["Title"] = "Index";
}


<div class="card shadow">
    <div class="card-body">
        <h1>Quyết toán nhà cung cấp</h1>
        <div>
            <div class="form-inline float-right mb-3">
                <form method="get" asp-action="Index">
                    <input id="keyword" name="keyword" class="form-control" placeholder="Nhập từ khóa cần tìm" value="@ViewBag.Keyword" />
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"> Tìm kiếm</i></button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Mã nhà cung cấp
                        </th>
                        <th>
                            Tên nhà cung cấp
                        </th>
                        <th class="text-right">
                            Tổng tiền
                        </th>
                        <th class="text-right">
                            Đã thanh toán
                        </th>
                        <th class="text-right">
                            Còn lại
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var totalIssuess = item.Shop_Goods_Receipts.Sum(t => t.Total);
                        var totalFinalIssuess = item.FinalSettlement_Supliers.Sum(t => t.Payment);
                        var remainder = totalIssuess - totalFinalIssuess;

                        <tr>
                            <td>
                                @item.SupplierID
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td class="text-right">
                                @string.Format("{0:N}", totalIssuess)
                            </td>
                            <td class="text-right">
                                @string.Format("{0:N}", totalFinalIssuess)
                            </td>
                            <td class="text-right">
                                @string.Format("{0:N}", remainder)
                            </td>
                            <td class="text-nowrap text-center" width="150px">
                                @*<a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.GoodsReceiptID"> <i class="fa fa-edit"> Chỉnh sửa</i></a>*@
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.SupplierID"><i class="fa fa-file"> Chi tiết</i></a>
                                @*<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CustomerID"><i class="fa fa-trash-o"> Xóa</i></a>*@
                                @*<button class="btn btn-sm btn-info btn-details" data-id="@item.CustomerID"><i class="fa fa-file"> Chi tiết</i></button>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, keyword = ViewBag.Keyword }),
                    new X.PagedList.Web.Common.PagedListRenderOptions
                         {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                         })
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-finalSettlement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Chi tiết quyết toán</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <button id="btn-addFinalSettlement" class="btn btn-sm btn-success"><i class="fa fa-plus"> Thêm quyết toán</i></button>
                    </div>
                    <div class="form-group col-md-6 align-self-md-center">
                        <input id="search" type="text" class="form-control" placeholder="Nhập vào từ khóa cần tìm" />
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tb-finalSettlement" class="table table-bordered table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="text-nowrap text-center align-middle">Số hóa đơn xuất</th>
                                <th class="text-nowrap text-center align-middle">Ngày thanh toán</th>
                                <th class="text-nowrap text-center align-middle">Số tiền thanh toán</th>
                                <th class="text-nowrap text-center align-middle">Còn lại</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="btn-acceptFinalSettlement" type="button" class="btn btn-primary">Thêm</button>*@
                <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-addFinalSettlement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thêm quyết toán</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Số hóa đơn:</label>
                        <select class="form-control"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-bold">Ngày quyết toán:</label>
                        <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="font-weight-bold">Số tiền cần thanh toán:</label>
                        <input class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="font-weight-bold">Số tiền thanh toán:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="font-weight-bold">Còn lại:</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="btn-acceptFinalSettlement" type="button" class="btn btn-primary">Thêm</button>*@
                <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script src="~/js/fomatnumber.js"></script>
    <script src="~/js/FinalSettlement_Suplier/index.js"></script>
}
