@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<WareHouseManger.Models.EF.Customer>

@{
    ViewData["Title"] = "Index";

    var roles = string.Join(",", User.Claims.Where(t => t.Type == System.Security.Claims.ClaimTypes.Role).Select(t => t.Value).ToList());

    bool isAdd = roles.Contains("Customer_Create");
    bool isEdit = roles.Contains("Customer_Edit");
    bool isDelete = roles.Contains("Customer_Delete");
    bool isDetails = roles.Contains("Customer_Details");
}

<div class="card shadow">
    <div class="card-body">
        <h1>Khách hàng</h1>
        <div>
            @if (isAdd)
            {
                <a class="btn btn-sm btn-success float-left" asp-action="Create"><i class="fa fa-plus-circle"> Thêm mới</i></a>
            }
            <div class="form-inline float-right mb-3">
                <form method="get" asp-action="Index">
                    <input id="keyword" name="keyword" class="form-control" placeholder="Nhập từ khóa cần tìm" value="@ViewBag.Keyword" />
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"> Tìm kiếm</i></button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Họ tên
                        </th>
                        <th>
                            Loại khách hàng
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Email
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerCategory.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMail)
                            </td>
                            <td class="text-nowrap text-center" width="1px">
                                @if (isEdit)
                                {
                                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.CustomerID"> <i class="fa fa-edit"> Chỉnh sửa</i></a>
                                }

                                @if (isDetails)
                                {
                                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.CustomerID"><i class="fa fa-file"> Chi tiết</i></a>
                                }

                                @if (isDelete)
                                {
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CustomerID"><i class="fa fa-trash-o"> Xóa</i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, keyword = ViewBag.Keyword }),
                    new X.PagedList.Web.Common.PagedListRenderOptions
                         {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                         })
            </div>
        </div>
    </div>
</div>

