@using WareHouseManger.ViewModels
@using X.PagedList
@using X.PagedList.Mvc.Core
@using WareHouseManger.Models.EF;
@model List<Shop_Goods_Category>

@{
    Layout = "~/Views/Shared/_LauoutCategoriesShopClient.cshtml";
    ViewData["Title"] = "Index";

    var shopGooods = ViewBag.Shop_Goods as IPagedList<Shop_Good>;

    int[] pageSizes = { 6, 12, 24 };
}

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/product">Trang chủ</a></li>
                    @*                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                    *@
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Loại sản phẩm</h5>
                    </div>
                    <ul class="sidebar_categories">
                        @{
                            foreach (var item in Model)
                            {
                                <li>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordian" href="#@item.Name">
                                                    @item.Name
                                                    @{
                                                        if (item.Shop_Goods_SubCategories.Count() > 0)
                                                        {
                                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                        }
                                                    }
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Name" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    @{
                                                        //int? page = 1, int pageSize = 15, string keyword = "", int subCategroyId = -1
                                                        foreach (var child in item.Shop_Goods_SubCategories)
                                                        {
                                                            <li>
                                                                @*<li><a href="">@child.Name </a></li>*@
                                                                <a asp-action="Index" asp-route-Page="1" asp-route-pageSize="@ViewBag.PageSize" asp-route-name="@ViewBag.Name" asp-route-subCategroyId="@child.SubCategoryID">@child.SubCategoriName</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

                <!-- Price Range Filtering -->
                @*<div class="sidebar_section">
                    <div class="sidebar_title">
                    <h5>Lọc theo giá</h5>
                    </div>
                    <p>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>
                    <div id="slider-range"></div>
                    <input id="min-price" value="@ViewBag.MinPrice" hidden />
                    <input id="max-price" value="@ViewBag.MaxPrice" hidden />
                    <div class="filter_button"><span>Lọc</span></div>
                    </div>*@

                @*<!-- Sizes -->
                    <div class="sidebar_section">
                    <div class="sidebar_title">
                    <h5>Sizes</h5>
                    </div>
                    <ul class="checkboxes">
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                    <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                    </ul>
                    </div>

                    <!-- Color -->
                    <div class="sidebar_section">
                    <div class="sidebar_title">
                    <h5>Color</h5>
                    </div>
                    <ul class="checkboxes">
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                    <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                    <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                    </ul>
                    <div class="show_more">
                    <span><span>+</span>Show More</span>
                    </div>
                    </div>*@

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <ul class="product_sorting">
                                    <li>
                                        <span class="type_sorting_text">@ViewBag.SortType</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_type">
                                            @* <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>*@
                                            @{
                                                var sortTypeList = ViewBag.SortTypes as SortTypeViewModel[];

                                                foreach (var sortType in sortTypeList)
                                                {
                //<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>@sortType.Name</span></li>
                                                    <li>
                                                        <a asp-action="Index" asp-route-Page="1" asp-route-pageSize="@ViewBag.PageSize" asp-route-name="@ViewBag.Name" asp-route-subCategroyId="@ViewBag.SubCategoryID" asp-route-sorType="@sortType.Value"><span>@sortType.Name</span></a>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                    <li style="width:250px">
                                        <span>Kích thước trang</span>
                                        <span class="num_sorting_text">6</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            @{
                                                foreach (int i in pageSizes)
                                                {
                                                    <li>
                                                        <a asp-action="Index" asp-route-Page="1" asp-route-pageSize="@ViewBag.PageSize" asp-route-name="@ViewBag.Name" asp-route-subCategroyId="@ViewBag.SubCategoryID"><span>@i</span></a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div class="page_current">
                                        <span>@shopGooods.PageNumber</span>
                                        <ul class="page_selection">
                                            @{
                                                for (int i = 1; i <= shopGooods.PageCount; i++)
                                                {
                                                    <li>
                                                        <a asp-action="Index" asp-route-Page="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-name="@ViewBag.Name" asp-route-subCategroyId="@ViewBag.SubCategoryID">@i</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="page_total"><span> - </span>@shopGooods.PageCount</div>
                                    <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">
                                @{
                                    if (ViewBag.Shop_Goods != null)
                                    {
                                        var a = shopGooods.OrderBy(t => t.Name).ToList();

                                        foreach (var template in a)
                                        {
                                            <div class="product-item men">
                                                <div class="product discount product_filter">
                                                    <div class="product_image">
                                                        <img src="images/product_1.png" alt="">
                                                    </div>
                                                    <div class="favorite favorite_left"></div>
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-0</span></div>
                                                    <div class="product_info">
                                                        <h6 class="product_name"><a href="single.html">@template.Name</a></h6>
                                                        <div class="product_price">@string.Format("{0:N}", template.Price).Replace(".00", "") VNĐ</div>
                                                    </div>
                                                </div>
                                                <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                                            </div>

                                        }
                                    }

                                }



                            </div>
                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                <ul class="product_sorting">
                                    <li style="width:250px">
                                        <span>Kích thước trang:</span>
                                        <span class="num_sorting_text">@ViewBag.PageSize</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            @{
                                                foreach (int i in pageSizes)
                                                {
                                                    <li>
                                                        <a asp-action="Index" asp-route-Page="1" asp-route-pageSize="@ViewBag.PageSize" asp-route-name="@ViewBag.Name" asp-route-subCategroyId="@ViewBag.SubCategoryID"><span>@i</span></a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <span class="showing_results">Hiển thị trang @shopGooods.PageNumber–@shopGooods.PageCount của @shopGooods.Count() kết quả tìm kiếm</span>
                                <div class="pages d-flex flex-row align-items-center">
                                    <div class="page_current">
                                        <span>@shopGooods.PageNumber</span>
                                        <ul class="page_selection">
                                            @{
                                                for (int i = 1; i <= shopGooods.PageCount; i++)
                                                {
                                                    <li>
                                                        <a asp-action="Index" asp-route-Page="@i" asp-route-pageSize="@ViewBag.PageSize" asp-route-name="@ViewBag.Name" asp-route-subCategroyId="@ViewBag.SubCategoryID">@i</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="page_total"><span>-</span>@shopGooods.PageCount</div>
                                    <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
