@model WareHouseManger.Models.EF.Employee

@{
    ViewData["Title"] = "Details";
    var roles = string.Join(",", User.Claims.Where(t => t.Type == System.Security.Claims.ClaimTypes.Role).Select(t => t.Value).ToList());

    bool isEdit = roles.Contains("Account_Edit");
    bool isSingle = bool.Parse(ViewData["isSingle"].ToString());
}

<div class="card shadow">
    <div class="card-body">
        <h1>Chi tiết</h1>
        <h4>Nhân viên</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="EmployeeID" hidden />
        <div class="form-group">
            <label asp-for="Name" class="control-label font-weight-bold">Tên nhân viên</label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PositionID" class="control-label font-weight-bold">chức vụ</label>
            <input class="form-control" value="@Model.Position.Name" readonly />
            <span asp-validation-for="PositionID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label font-weight-bold">Số điện thoại</label>
            <input asp-for="PhoneNumber" class="form-control" readonly />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label font-weight-bold">Địa chỉ</label>
            <input asp-for="Address" class="form-control" readonly />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EMail" class="control-label font-weight-bold"></label>
            <input asp-for="EMail" class="form-control" readonly />
            <span asp-validation-for="EMail" class="text-danger"></span>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="label-primary">Thống kê</h3>
            </div>
            <div class="card-body">

                <div class="form-row align-items-center mb-3">
                    <div class="col-auto">
                        <span class="font-weight-bold">Thống kê theo</span>
                    </div>
                    <div class="col-auto">
                        <select id="datetype" class="form-control">
                            <option value="month">Tháng</option>
                            <option value="year">Năm</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span class="font-weight-bold">Tháng</span>
                    </div>
                    <div class="col-auto">
                        <select id="month" class="form-control">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <span class="font-weight-bold">Năm</span>
                    </div>
                    <div class="col-auto">
                        <select id="year" class="form-control">
                            @for (int i = DateTime.Now.Year; i >= 1990; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <button id="btn-submit-chart" class="btn btn-primary">Xem thống kê</button>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h3>Biểu đồ doanh thu</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <canvas id="myAreaChart2"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel-body -->
        </div>
        <h4>Tài khoản</h4>
        <hr />
        @if (Model.Accounts.Count() > 0)
        {
            var account = Model.Accounts.FirstOrDefault();

            <div class="row">
                <div class="form-group form-inline col-6">
                    <label asp-for="@account.UserName" class="control-label font-weight-bold font-weight-bold">Tên tài khoản:</label>
                    &nbsp;
                    <label id="account_UserName" asp-for="@account.UserName" class="control-label font-weight-bold">@account.UserName</label>

                    <span asp-validation-for="@account.UserName" class="text-danger"></span>
                </div>
                <div class="form-group form-inline col-6">
                    <label asp-for="@account.DateCreated" class="control-label font-weight-bold font-weight-bold">Ngày tạo:</label>
                    &nbsp;
                    <label asp-for="@account.DateCreated" class="control-label font-weight-bold">@account.DateCreated.Value.ToString("dd/MM/yyyy")</label>

                    <span asp-validation-for="@account.UserName" class="text-danger"></span>
                </div>
            </div>
            <div>
                @if (Model.Accounts.Count > 0)
                {
                    if (isEdit)
                    {
                        <button class="btn btn-sm btn-google open-dialog" data-target="modal-forgotpassword"><i class="fa fa-key"> Đặt lại mật khẩu</i></button>
                        <a class="btn btn-sm btn-info " asp-action="Role" asp-route-id="@Model.EmployeeID"><i class="fa fa-user"> Phân quyền</i></a>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-primary open-dialog" data-target="modal-changepassword"><i class="fa fa-user-edit"> Đổi mật khẩu</i></button>
                    }
                }
            </div>
        }
        else
        {
            <a asp-action="ActiveAcountConfirmed" asp-route-id="@Model.EmployeeID" class="btn btn-sm btn-success"><i class="fa fa-act"> Kích hoạt tài khoản</i></a>
        }
        <div class="panel-footer text-right">


            @if (isSingle)
            {
                <a class="btn btn-warning" asp-action="Edit">Chỉnh sửa</a>
                <a class="btn btn-light border" href="/Home/index">Quay lại</a>
            }
            else
            {
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.EmployeeID">Chỉnh sửa</a>
                <a class="btn btn-light border" asp-action="Index">Quay lại</a>
            }
        </div>
    </div>
</div>

@if (isEdit)
{
    <div class="modal fade" id="modal-forgotpassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Đặt lại mật khẩu</h4>
                </div>
                <div class="modal-body">
                    <div id="msg-changepass1" class="alert font-weight-bold" hidden>ádasd</div>
                    <div class="form-group">
                        <label class="font-weight-bold">Mật khẩu mới</label>
                        <input type="password" id="newPassword3" class="form-control" placeholder="Nhập vào mật khẩu mới" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Nhập lại mật khẩu hiện tại</label>
                        <input type="password" id="newPassword4" class="form-control" placeholder="Nhập vào mật khẩu mới" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-accept-forgotpassword" type="button" class="btn btn-primary">Thay đổi</button>
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
else
{
    <div class="modal fade" id="modal-changepassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thay đổi mật khẩu</h4>
                </div>
                <div class="modal-body">
                    <div id="msg-forgotpassword" class="alert font-weight-bold" hidden>ádasd</div>
                    <div class="form-group">
                        <label class="font-weight-bold">Mật khẩu hiện tại</label>
                        <input type="password" id="currentPassword" class="form-control" placeholder="Nhập vào mật khẩu hiện tại" autofocus />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Mật khẩu mới</label>
                        <input type="password" id="newPassword" class="form-control" placeholder="Nhập vào mật khẩu mới" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Nhập lại mật khẩu hiện tại</label>
                        <input type="password" id="newPassword2" class="form-control" placeholder="Nhập vào mật khẩu mới" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-accept" type="button" class="btn btn-primary">Thay đổi</button>
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
@section scripts{
    <script src="/js/fomatnumber.js"></script>
    <script src="~/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/js/plugins/morris/morris.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/Employee/details.js"></script>
}