@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<WareHouseManger.Models.EF.Employee>

@{
    ViewData["Title"] = "Index";

    var editRole = User.Claims.Where(t => t.Type == System.Security.Claims.ClaimTypes.Role).Select(t => t.Value == "Account_Edit").Count() > 0 ? true : false;
}

<div class="card shadow">
    <div class="card-body">
        <h1>Nhân viên</h1>
        <div>
            <a class="btn btn-sm btn-success float-left" asp-action="Create"><i class="fa fa-plus-circle"> Thêm mới</i></a>
            <div class="form-inline float-right mb-3">
                <form method="get" asp-action="Index">
                    <input id="keyword" name="keyword" class="form-control" placeholder="Nhập từ khóa cần tìm" value="@ViewBag.Keyword" />
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"> Tìm kiếm</i></button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Tên nhân viên
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Email
                        </th>
                        <th class="text-center">
                            Tài khoản
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMail)
                            </td>
                            <td class="text-center">
                                @if (item.Accounts.Count > 0)
                                {
                                    <button class="btn btn-sm btn-block btn-success">Đang hoạt động</button>
                                }
                                else
                                {
                                    <a asp-action="ActiveAcountConfirmed" asp-route-id="@item.EmployeeID" class="btn btn-sm btn-block btn-danger">Kích hoạt</a>
                                }
                            </td>
                            <td class="text-nowrap text-center" style="Wwidth:1px">

                                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.EmployeeID"> <i class="fa fa-edit"> Chỉnh sửa</i></a>
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.EmployeeID"><i class="fa fa-file"> Chi tiết</i></a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.EmployeeID"><i class="fa fa-trash-o"> Xóa</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, keyword = ViewBag.Keyword }),
                    new X.PagedList.Web.Common.PagedListRenderOptions
                         {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                         })
            </div>
        </div>
    </div>
</div>
