@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="card shadow">
    <div class="card-body">
        <h1>Bàn làm việc</h1>
        <div class="form-group">
            <div class="card shadow">
                <div class="card-body">
                    <h2>Thống kê chi tiết</h2>
                    <div class="form-row align-items-center mb-3">
                        <div class="col-auto">
                            <span class="font-weight-bold">Từ:</span>
                        </div>
                        <div class="col-auto">
                            <input id="date-start" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="col-auto">
                            <span class="font-weight-bold">Đến:</span>
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <input id="date-end" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <button id="btn-submit0" type="button" class="btn btn-primary">Xem thống kê</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Số đơn nhập
                                            </div>
                                            <div id="countReceipt" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Số đơn xuât
                                            </div>
                                            <div id="countIssues" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Doanh thu
                                            </div>
                                            <div id="revenue" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Chi phí
                                            </div>
                                            <div id="cost" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                               Doanh thu thực
                                            </div>
                                            <div id="realrevenue" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                               Chi phí thực
                                            </div>
                                            <div id="realcost" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Lợi nhuận
                                            </div>
                                            <div id="profit" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card shadow">
                            <div class="card-header">
                                <h3>Doanh thu theo nhân viên</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto" style="max-height:30vh;">
                                    <table id="tb-revenueGroupByEmployee" class="table table-bordered table-sm table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã khách hàng</th>
                                                <th>Họ tên</th>
                                                <th class="text-right">Số lượng đơn bán</th>
                                                <th class="text-right">Doanh thu(VNĐ)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mt-3">
                            <div class="card-header">
                                <h3>Doanh thu theo khách hàng</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto" style="max-height: 30vh;">
                                    <table id="tb-revenueGroupByCustomer" class="table table-sm table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã nhân viên</th>
                                                <th>Họ tên</th>
                                                <th class="text-right">Số lượng đơn bán</th>
                                                <th class="text-right">Doanh thu(VNĐ)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mt-3">
                            <div class="card-header">
                                <h3>Chi phí theo nhà cung cấp</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive overflow-auto" style="max-height: 30vh;">
                                    <table id="tb-costGroupBySuplier" class="table table-sm table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã nhà cung cấp</th>
                                                <th>Tên nhà cung cấp</th>
                                                <th class="text-right">Số lượng đơn nhập</th>
                                                <th class="text-right">Chi phí(VNĐ)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="label-primary">Biểu đồ thống kê</h3>
            </div>
            <div class="card-body">

                <div class="form-row align-items-center mb-3">
                    <div class="col-auto">
                        <span class="font-weight-bold">Thống kê theo</span>
                    </div>
                    <div class="col-auto">
                        <select id="datetype" class="form-control">
                            <option value="month">Tháng</option>
                            <option value="year">Năm</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span class="font-weight-bold">Tháng</span>
                    </div>
                    <div class="col-auto">
                        <select id="month" class="form-control">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <span class="font-weight-bold">Năm</span>
                    </div>
                    <div class="col-auto">
                        <select id="year" class="form-control">
                            @for (int i = DateTime.Now.Year; i >= 1990; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <button id="btn-submit-chart" class="btn btn-primary">Xem thống kê</button>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="card shadow">
                    <div class="card-header">
                        <h4>Biểu đồ doanh thu</h4>
                    </div>

                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

            <!-- /.panel-body -->
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3>Danh sách hàng hóa có doanh thu cao nhất</h3>
                <!-- /.panel-heading -->

                <div class="table-responsive overflow-auto" style="max-height: 30vh">
                    <table id="tb-rank-shopgoods" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th class="text-center">Đơn vị tính</th>
                                <th class="text-right">Số lượng đã bán</th>
                                <th class="text-right">Doanh thu(VNĐ)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3>Danh sách hàng hóa sắp hết</h3>
                <!-- /.panel-heading -->

                <div class="table-responsive overflow-auto" style="max-height: 30vh">
                    <table id="tb-outofstock" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th class="text-center">Loại hàng hóa</th>
                                <th class="text-center">Đơn vị tính</th>
                                <th class="text-right">Số lượng tồn</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3>Danh sách hàng hóa đã hết</h3>
                <!-- /.panel-heading -->
                <div class="table-responsive overflow-auto" style="max-height: 30vh">
                    <table id="tb-soldoutofstock" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th class="text-center">Loại hàng hóa</th>
                                <th class="text-center">Đơn vị tính</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="~/js/fomatnumber.js"></script>
    <script src="~/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/js/plugins/morris/morris.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/Home/index.js"></script>
}

@section css{

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
}